body {
  font-family: 'Trebuchet', 'Helvetica', sans-serif;
  font-size: 14px;
  line-height: 1.4em;
}
.sidebar {
  margin-left:40px;
  padding:20px;
  min-height: 300px;
  border:1px solid #999;
  width:200px;
  position: fixed;
  right: 0;
}
#othersidebar {
  top: 400px;
}
.example {
  margin-right: 240px;
}
.example {
  border: 1px dotted #ccc;
  padding: 10px 20px;
  max-width:675px;
  margin-top: 50px;
}
button {
  display: inline-block;
  margin:10px;
}
label {
  display:block;
  min-height:1.5rem;
}
.overlay {
  height: 100vh;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 50;
  opacity: 0.77;
  filter: alpha(opacity=15);
  background-color: #808080;
}
.dialog {
  position: fixed;
  z-index: 50;
  background: white;
  width: 500px;
  height: 300px;
  border: 4px solid #cc8;
  border-radius: 10px;
  box-shadow: 0 0 10px #222;
  padding: 10px;
  left:50%;
  top:50%;
  margin-left: -250px;
  margin-top: -150px;
}
